<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">INVENTARIO DE DROGUERIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="existencia">Existencia</a>
                </li>
                <li class="nav-item dropdown" id="Mydropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Entradas</a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" th:href="@{/entrada/new}"> Nueva entrada</a></li>
                        <li> <a class="dropdown-item" 
                                th:href="@{/entrada/list}"> Ver entradas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="Mydropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Salidas</a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="nuevaSalida"> Nueva salida</a></li>
                        <li> <a class="dropdown-item" href="salidas"> Ver salidas</a></li>
                    </ul>
                </li>
            </ul>
            
            <a class="btn btn-primary" href="./login.html" role="button">Logout</a>
        </div>
    </div>
</nav>